.row {
	clear: both;
}

.col {
	float: left;
	width: 40px;
	height: 40px;
	background-color: #dcdcdc;
    border-style: outset;
   	font-size: 30px;
	text-align: center; 
	line-height: 40px;
}

.clicked {
    border-style: inset;
}